body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img{
    width: 70px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    z-index: 2;
}

.clock{
    position: relative;
    background-color: whitesmoke;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 5px solid darkgray;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7), -2px -2px 2px rgb(0, 0, 0, 0.7);
}

.number div{
    position: absolute;
    font-size: 27px;
    font-weight: bold;
    color: lightgoldenrodyellow;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7)
}

.twelve{
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.three{
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.six{
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.nine{
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.arrows{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.arrows:before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: darkgreen;
    transform-origin: center;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    z-index: 4; 
}

.arrows div{
    position: absolute;
    width: 7px;
    height: 120px;
    background-color: rgb(222, 159, 159);
    bottom: 50%;
    transform-origin: bottom center;
    z-index: 3;
    border-radius: 50% 50% 0 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.arrows .hour{
    height: 80px;
    transform: rotate(30deg);
    background-color: rgb(255, 255, 255);
}

.arrows .minute{
    height: 100px;
    transform: rotate(180deg);
    background-color: yellow;
}

.arrows .second{
    height: 120px;
    transform: rotate(6deg);
    background-color: rgb(255, 255, 255);
}